.header_container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: solid 4px white;
}

.header {
    display: block;
    width: 100%;
    padding: 1rem 0;
    color: white;
    font-weight: 900;
    font-size: 4rem;
    line-height: 8rem;
    border-bottom: solid 4px white;
    font-family: 'Montserrat', sans-serif;
}